* {
    margin: 0;
    background-color: black;
    color: white;
    font-family: Montserrat;
    font-weight: 600;
}

body{
    width:100%;
    overflow-x:hidden;
    overflow-y:hidden;
}

.line, .line2 {
    border: 1px white solid;
}

.wrapper {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.wrapper section {
    scroll-snap-align: start;
    height: 100vh;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home .header {
    height: 80vh;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.home .title {
    font-size: 80px;
    font-weight: 1000;
}

.home .subhead {
    display: flex;
    justify-content: space-between;
}

.home .subtitle {
    text-align: center;
    border: 1px solid white;
    border-radius: 8px;
    font-size: 16px;
    width: 30%;
}

.home .footer {
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home .line {
    width: 40%
}

.summary {
    display: flex;
    flex-direction: column;
}

.summary .title {
    font-size: 10vh;
    font-weight: 1000;
    height: 22vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary .container {
    height: 76vh;
    display: flex;
    justify-content: center;
    gap: 6vh;
    align-items: flex-start;
}

.summary .container .portfolio-link {
    width: 25vh;
    height: 65vh;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 16px;
    text-shadow:  2px 2px 4px black;
    -webkit-box-shadow: inset 1px 1px 10px #333;
    -moz-box-shadow:    inset 1px 1px 10px #333;
    box-shadow:         inset 1px 1px 10px #333;
    padding-top: 1vh;
    font-weight: 800;
}

.portfolio-link.sum1 {
    background: url("img/sum1.jpg");
    background-size: cover;
    background-position: -12vh;
}

.portfolio-link.sum2 {
    background: url("img/sum2.png");
    background-size: 75vh;
    background-position: 45vh -14vh;
}

.portfolio-link.sum3 {
    background: url("img/sum3.jpg");
    background-size: 60vh;
    background-position: -20vh -20vh;
}

.portfolio-link.sum4 {
    background: url("img/sum4.jpg");
    background-size: 120vh;
    background-position: -50vh -2vh;
}

.portfolio-link.sum5 {
    background: url("img/sum5.jpg");
    background-size: 40vh;
    background-position: -12vh 0vh;
}

.portfolio-link.sum6 {
    background: url("img/sum6.jpg");
    background-size: 40vh;
    background-position: -7vh -10vh;
}

.ad-elon {
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.ad-elon .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    margin-top: 6vh;
    padding-left: 10vh;
    padding-right: 10vh;
}

.ad-elon .header .title {
    font-weight: 500;
    font-size: 4vh;
    border-bottom: 1px white solid;
}

.ad-elon .header .subtitle {
    color: grey;
}

.ad-elon .content {
    display: flex;
    justify-content: center;
    gap: 6vh;
    align-items: center;
    height: 100%;
}
.ad-elon .content .elon {
    height: 75vh;
    border-radius: 16px;
}

.ad-elon .content .flower-lady {
    height: 75vh;
    border-radius: 16px;
}

.ad-elon .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.ad-elon .footer .line,.ad-elon .footer .line2 {
    border: 1px grey solid;
}
.ad-elon .footer .line {
    width: 9%;
}

.ad-elon .footer .text {
    margin-right: 5px;
    font-weight: 400;
    font-size: 3vh;
}

.ad-elon .footer .line2 {
    width: 74%;
}

.ad-samurai .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    margin-top: 6vh;
    margin-bottom: 4vh;
    padding-left: 10vh;
    padding-right: 10vh;
}

.ad-samurai .header .title {
    font-weight: 500;
    font-size: 4vh;
    border-bottom: 1px white solid;
}

.ad-samurai .header .subtitle {
    color: grey;
}

.ad-samurai .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ad-samurai .footer .line,.ad-samurai .footer .line2 {
    border: 1px grey solid;
}
.ad-samurai .footer .line {
    width: 9%;
}

.ad-samurai .footer .text {
    margin-right: 5px;
    font-weight: 400;
    font-size: 3vh;
}

.ad-samurai .footer .line2 {
    width: 74%;
}

.ad-samurai .content {
    display: flex;
    justify-content: center;
    gap: 6vh;
}
.ad-samurai .display {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.ad-samurai .content .display .row {
    display: flex;
    justify-content: space-between;
    gap: 4vh;
}
.ad-samurai .content .display .row .poster {
    width: 20vh;
    height: 30vh;
    border-radius: 18px;
}

.ad-samurai .content .display .row .poster.one{
    background: url("img/samurai-poster.jpg");
    background-size: cover;
}


.ad-samurai .content .display .row .poster.two{
    background: url("img/samurai-poster4.jpg");
    background-size: 30vh;
}

.ad-samurai .content .display .row .poster.four{
    background: url("img/samurai-poster2.jpg");
    background-size: 32vh;
    background-position: -6vh;
}

.ad-samurai .content .display .row .poster.three{
    background: url("img/samurai-poster3.jpg");
    background-size: cover;
    background-position: -6vh;
}

.ad-samurai .content .final-samurai {
    background: url("img/samurai-final.jpg");
    height: 80vh;
    width: 60vh;
    background-size: 60vh;
    border-radius: 18px;
}


.ad-eastpak .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    padding-left: 10vh;
    padding-right: 10vh;
    margin-bottom: 1vh;
}

.ad-eastpak .header .title {
    font-weight: 500;
    font-size: 4vh;
    border-bottom: 1px white solid;
}

.ad-eastpak .header .subtitle {
    color: grey;
}

.ad-eastpak .content {
    display: flex;
    justify-content: center;
    gap: 2%;
    height: 83vh;
    margin-bottom: 3vh;
    margin-left: 7vh;
    margin-right: 7vh;
}

.ad-eastpak .content .yasuo{
    border-radius: 18px;
    width: 60%;
    background: url("img/yasuo.jpg");
    background-size: cover;
}

.ad-eastpak .content .lux{
    border-radius: 18px;
    width: 35%;
    background: url("img/lux.jpg");
    background-size: cover;
}

.ad-eastpak .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ad-eastpak .footer .line,.ad-eastpak .footer .line2, .ad-eastpak .footer .line3 {
    border: 1px grey solid;
}
.ad-eastpak .footer .line {
    width: 9%;
}

.ad-eastpak .footer .text {
    margin-right: 5px;
    font-weight: 400;
    font-size: 3vh;
}

.ad-eastpak .footer .line2 {
    width: 2%;
}

.ad-eastpak .footer .line3 {
    width: 60%
}

.da-peacock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.da-peacock .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 10vh;
    margin-left: 10vh;
    margin-right: 10vh;
}

.da-peacock .header .title {
    font-weight: 500;
    font-size: 4vh;
    border-bottom: 1px white solid;
}

.da-peacock .header .subtitle {
    color: grey;
}

.da-peacock .content {
    display: flex;
    height: 70vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 10vh;
    margin-right: 5vh;
}

.da-peacock .content .peacock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 36%;
}

.da-peacock .content .peacock p {
    font-weight: 300;
    text-align: justify;
    text-justify: inter-word;
    font-size: 3vh;
    line-height: 4vh;
}

.da-peacock .content .peacock .illustration {
    height: 25%;
    display: flex;
    gap: 1vh;
}

.da-peacock .content .peacock .illustration .peacock-mascot {
    background: url("img/mascot.jpg");
    background-size: 140%;
    background-position: 1vh -2vh;
    border-radius: 8px;
    width: 55%;
}

.da-peacock .content .peacock .illustration .peacock-home {
    width: 45%;
    border-radius: 8px;
    background: url("img/peacock_home.jpeg");
    background-size: cover;
}

.da-peacock .content .arrow {
    display: flex;
    align-items: flex-end;
    padding-bottom: 3vh;
    width: 6%;
    font-size: 12vh;
    font-weight: 300;
}

.da-peacock .content .result {
    width: 58%;
    display: flex;
    flex-direction: column;
}

.da-peacock .content .result .row {
    height: 45%;
    display: flex;
}

.da-peacock .content .result .logo-black {
    width: 50%;
    background-image: url("img/peacock_black_logo.png");
    background-size: cover;
    background-position: center;
    background-color: black;
}

.da-peacock .content .result .logo-white {
    width: 50%;
    background-image: url("img/peacock_logo.png");
    background-size: cover;
    background-position: center;
    background-color: white;
}

.da-peacock .content .result .catalog {
    height: 55%;
    background-image: url("img/peacock.jpg");
    background-size: cover;
    background-position: center;
}

.da-peacock .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 10vh;
}

.da-peacock .footer .line,.da-peacock .footer .line2, .da-peacock .footer .line3 {
    border: 1px grey solid;
    margin-top: 2vh;
}
.da-peacock .footer .line {
    width: 9%;
}

.da-peacock .footer .text {
    margin-right: 5px;
    font-weight: 400;
    font-size: 3vh;
}

.da-peacock .footer .line2 {
    width: 2%;
}

.da-peacock .footer .line3 {
    width: 60%
}

.da-tv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.da-tv .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 10vh;
    margin-left: 10vh;
    margin-right: 10vh;
}

.da-tv .header .title {
    font-weight: 500;
    font-size: 4vh;
    border-bottom: 1px white solid;
}

.da-tv .header .subtitle {
    color: grey;
}

.da-tv .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 10vh;
}

.da-tv .footer .line,.da-tv .footer .line2, .da-tv .footer .line3 {
    border: 1px grey solid;
    margin-top: 2vh;
}
.da-tv .footer .line {
    width: 9%;
}

.da-tv .footer .text {
    margin-right: 5px;
    font-weight: 400;
    font-size: 3vh;
}

.da-tv .footer .line2 {
    width: 2%;
}

.da-tv .footer .line3 {
    width: 60%
}

.da-tv .content {
    height: 63vh;
    margin-top: 7vh;
    margin-bottom: 10vh;
    margin-left: 10vh;
    margin-right: 10vh;
    gap: 5vh;
    display: flex;
    justify-content: space-between;
}

.da-tv .content .tv {
    height: 100%;
    width: 60%;
    background-image: url("img/tv.jpg");
    background-size: 150%;
    background-position: center;
    border-radius: 25px;
}

.da-tv .content .pfp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.da-tv .content .pfp .row {
    display: flex;
    justify-content: space-between;
}

.da-tv .content .pfp .row .bird1{
    height: 30vh;
    width: 30vh;
    background-image: url("img/bird_1.png");
    background-size: cover;
    background-position: center;
}

.da-tv .content .pfp .row .bird2{
    height: 30vh;
    width: 30vh;
    background-image: url("img/bird_2.png");
    background-size: cover;
    background-position: center;
}

.da-tv .content .pfp .row .bird3{
    height: 30vh;
    width: 30vh;
    background-image: url("img/bird_3.png");
    background-size: cover;
    background-position: center;
}

.da-tv .content .pfp .row .bird4{
    height: 30vh;
    width: 30vh;
    background-image: url("img/bird_4.png");
    background-size: cover;
    background-position: center;
}

.da-vinland {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.da-vinland .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 10vh;
    margin-left: 10vh;
    margin-right: 10vh;
}

.da-vinland .header .title {
    font-weight: 500;
    font-size: 4vh;
    border-bottom: 1px white solid;
}

.da-vinland .header .subtitle {
    color: grey;
}

.da-vinland .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 10vh;
}

.da-vinland .footer .line,.da-vinland .footer .line2, .da-vinland .footer .line3 {
    border: 1px grey solid;
    margin-top: 2vh;
}
.da-vinland .footer .line {
    width: 9%;
}

.da-vinland .footer .text {
    margin-right: 5px;
    font-weight: 400;
    font-size: 3vh;
}

.da-vinland .footer .line2 {
    width: 2%;
}

.da-vinland .footer .line3 {
    width: 60%
}

.da-vinland .content {
    margin-left: 10vh;
    margin-right: 10vh;
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10vh;
}

.da-vinland .content .vinland {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 15vh;
}

.da-vinland .content .vinland p {
    font-weight: 300;
    text-align: justify;
    text-justify: inter-word;
    font-size: 3vh;
    line-height: 4vh;
}

.da-vinland .content .vinland .logo {
    background-image : url("");
    height: 20vh;
    width: 100%;
    border-radius: 25px;
    border: 1px white solid;
}

.da-vinland .content .poster {
    background-image: url("img/vinland-poster.jpg");
    background-size: cover;
    background-position: center;
    width: 55%;
    border-radius: 20px;
}

